.app {
  width: 100vw;
  background-image: linear-gradient(to right, #051421, #042727);
}

/* @media (max-width: 500px) {
  body {
    width: 75px;
  }
} */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  app {
    max-width: 320px;
    background-color: red;
    overflow: hidden;
  }
}
