.result {
  /* display: flex; */
  /* justify-content: center; */
}

.result > div {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 500px) {
  .result {
    max-width: auto;
    padding: 30px;
    justify-content: center;
    overflow-x: hidden;
  }
}
